.history-table {
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: flex;
}

.pagination-item {
    margin-left: 5px;
    margin-right: 5px;
}

.active {
    color: black;
    opacity: 0.5;
}