<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap-material-design.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/layout.css}" rel="stylesheet">

    <title>Transaction</title>

    <link th:href="@{/static/css/fund-transfer.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="container">
    <form action="/transfer/confirm" method="post">
        <h1>Transfer Summary</h1>
        <div class="error-message" th:text="${error}"></div>
        <p>Destination Account: <span th:text="${transferSummary.destinationAccount}"></span></p>
        <p>Transfer Amount: &dollar;<span th:text="${transferSummary.transferAmount}"></span></p>
        <p>Reference Number: <span th:text="${transferSummary.referenceNumber}"></span></p>
        <p>Balance: &dollar;<span th:text="${transferSummary.balance}"></span></p>
        <div><a class="btn btn-lg btn-primary" th:href="@{/transaction}" role="button">Make
            another transaction</a></div>
        <div><a class="btn btn-lg btn-primary" th:href="@{/logout}"
                role="button">Exit</a>
        </div>
    </form>

</div>

</body>

</html>