<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap-material-design.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/layout.css}" rel="stylesheet">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap-material-design.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" th:action="@{/login}">
    <img class="mb-4" th:src="@{/static/img/mitrais-logo.JPG}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">ATM Access</h1>
    <div class="error-message" th:text="${#servletContext.getAttribute('error')}"></div>

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>

    <label for="accountNumber" class="sr-only">Account Number</label>
    <input type="text" name="username" id="accountNumber" class="form-control" placeholder="Account Number" required autofocus>

    <label for="pin" class="sr-only">PIN</label>
    <input type="password" name="password" id="pin" class="form-control" placeholder="PIN" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="file-import">Or import accounts to database <a th:href="@{/file_upload}">here</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; Mitrais 2019</p>
</form>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>