<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap-material-design.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/layout.css}" rel="stylesheet">

    <title>Transaction</title>

    <link th:href="@{/static/css/transaction.css}" rel="stylesheet">

</head>

<body class="text-center">
<div class="container">
    <h1>Transaction Summary</h1>
    <p>Date: ${transactionSummary.date}</p>
    <p>Withdraw: &dollar;${transactionSummary.withDraw}</p>
    <p>Balance: &dollar;${transactionSummary.balance}</p>
    <div><a class="btn btn-lg btn-primary" th:href="@{/transaction}" role="button">Make
        another Transaction</a></div>
    <div><a class="btn btn-lg btn-primary" th:href="@{/logout}" role="button">Exit</a></div>

</div>
</body>

</html>