<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap-material-design.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/layout.css}" rel="stylesheet">

    <title>Transaction</title>

    <link th:href="@{/static/css/withdraw.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="select-option">
    <h2>Withdraw</h2>
    <div class="error-message">${error}</div>
    <p>Please select an amount to withdraw</p>
    <form th:action="@{/withdraw}" method="post">
        <input type="hidden" name="amount" value="10">
        <input class="btn btn-lg btn-primary" type="submit" value="$10"/>
    </form>

    <form th:action="@{/withdraw}" method="post">
        <input type="hidden" name="amount" value="50">
        <input class="btn btn-lg btn-primary" type="submit" value="$50"/>
    </form>

    <form th:action="@{/withdraw}" method="post">
        <input type="hidden" name="amount" value="100">
        <input class="btn btn-lg btn-primary" type="submit" value="$100"/>
    </form>

    <button class="btn btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#other-amount">Other</button>

    <div class="collapse" id="other-amount">
        <form class="form-group" th:action="@{/withdraw}" method="post">
            <input class="form-control" type="number" name="amount" value="0">
            <input class="btn btn-lg btn-primary" type="submit" value="Withdraw"/>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>